{% extends "_base.html" %}

{% block content %}

  <div class="starter-template">
      <br>Submit Docker Job
   <form  method="post">
    <label for="image">Image</label><br>
    <input type="text" id="image" name="image" value="python:3.11.2-slim-buster"><br>
    <label for="command">Command</label><br>
    <input type="text" id="command" name="command" value="date"><br>
    <label for="env">Environment Variables</label><br>
    <input type="text" id="env" name="env" value="VAR1=val1;VAR2=val2"><br>
    <label for="dry_run">Dry Run</label><br>
   <input type="checkbox" name="dry_run" id="dry_run"  /><br>

      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
  </form>

      <p>Result: {{ result }}</p></div>
{% endblock %}
