{% extends "_base.html" %}

{% block content %}
    <script>
        function autoRefresh() {
            window.location = window.location.href;
        }
        setInterval('autoRefresh()', 10000);
    </script>


      <div class="starter-template">
             <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Tasks Submitted</span>
      </h4>
            <!-- list the submitted tasks -->
            <table class="table">
                  <th>Task ID</th>
    <th>Status</th>
                <th>Start Time</th>
            {% for key, value in result.items() %}
              <tr>
                  <td><a href="/task_info/{{ key }}">{{ key }}</a></td>
                  <td>{{ value["status"] }}</td>
                  <td>{{ value.task_submission["start_time"].strftime('%Y-%m-%d %H:%M:%S') }}</td>
              </tr>
        {% endfor %}
</table>

      </div>
{% endblock %}
