
{% extends "_base.html" %}

{% block content %}

<div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
        <div class="container">
          <!--<div class="row justify-content-center"> -->
            <div class="card">
            <div class="card-header">
                        Login Form
                    </div>
            <div class="card-body">
              <form class="bg-white rounded shadow-5-strong p-5"  method="post">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="text" id="username" name="username" class="form-control" />
                  <label class="form-label" for="username">Username</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="password"  name="password" class="form-control" />
                  <label class="form-label" for="password">Password</label>
                </div>

                <!-- 2 column grid layout for inline styling -->

                    <!-- Checkbox
                    <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                      <label class="form-check-label" for="form1Example3">
                        Remember me
                      </label>
                    </div>
                  </div> -->

                  <!--<div class="col text-center">
                    <a href="#!">Forgot password?</a>
                  </div>
                </div>-->

                <!-- Submit button -->
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">

              </form>
            </div>
        </div>
            </div>
            </div>
            </div>
            </div>



    {% endblock %}