{% extends "_base.html" %}

{% block content %}

  <div >
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Submit Docker Job</span>
      </h4>
   <form  method="post">

    <label for="image">Image</label><br>
    <input type="text" id="image" class="form-control" name="image" value="{{ task['image'] }}"><br>
    <!-- class="form-control" aria-describedby="basic-addon3" -->

    <label for="command">Command</label><br>
       <textarea id="command" class="form-control" name="command">{{ task['command'] }}</textarea><br>
    <label for="env">Environment Variables</label><br>
    <input type="text" id="env" class="form-control" name="env" value="{{ task['env'] }}"><br>
    <label for="dry_run">Dry Run</label><br>
   <input type="checkbox" name="dry_run" id="dry_run"  /><br>

      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
  </form>
  </div>

{% endblock %}
