{% extends "_base.html" %}

{% block content %}

      <div class="starter-template">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Task Info</span>
      </h4>
        <!--  <ul class="list-group mb-3">
              {% for key, value in result.items() %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ key }}</h6>
          </div>
          <span class="text-muted">{{ value }}</span>
        </li> {% endfor %}
        </ul> -->
          <h5 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Status</span></h5>

          <div class="container">
    <div class="alert alert-success" role="alert">
        <!--{{ result['status'] }} -->
            {% if result['status'] == 'SUCCESS' %}
                    <span class="badge bg-success">Completed</span>
                {% elif result['status'] == 'PENDING' %}
                    <span class="badge bg-warning text-dark">Pending</span>
                {% elif result['status'] == 'ABORTED' %}
                    <span class="badge bg-danger">Failed</span>
                {% elif result['status'] == 'FAILURE' %}
                    <span class="badge bg-danger">Failed</span>
                {% else %}
                    <span class="badge bg-secondary">Unknown</span>
                {% endif %}
    </div>
          <br>

          <h5 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Submission Parameters</span></h5>
 <ul class="list-group mb-3">
              {% for key, value in result['task_submission'].items() %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ key }}</h6>
          </div>
          <span class="text-muted">{{ value }}</span>
        </li> {% endfor %}
        </ul>

        {% if result['task_result']  %}

          <h5 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Result</span></h5>
 <ul class="list-group mb-3">
              {% for key, value in result['task_result'].items() %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ key }}</h6>
          </div>
          <span class="text-muted">{{ value }}</span>
        </li> {% endfor %}
        </ul>

              {% endif %}

<h5 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Logs</span></h5>
          <div class="container">
    <div class="alert alert-primary" role="alert">
        <!-- Your stdout text will go here -->
                  {{ result['log'] }}

    </div>
</div>


        <a href="/" class="btn btn-primary">Back</a>
        <a href="{{ abort_url }}" class="btn btn-primary">Abort</a>


      </div>
{% endblock %}
